.featured-icon {
	position: relative;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	box-shadow: 0 0 0 1px #000;
	cursor: pointer;

	.loading {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.featured {
		background-color: green;
	}
}
